* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Navigation Bar Styling */

#navBar {
    display: flex;
    position: fixed;
    justify-content: center;
    justify-content: space-between; /* to center the items */
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #e10600;
    font-size: 18px;
}

.navBarItems {
    font-family: "Formula1 Display Regular", "Formula1 Display Bold", "Formula1 Display Wide";
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    flex-grow: 1; /* to fill the available space */
    margin-right: 160px; /* to create space between items */
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navLogo {
    margin: 0;
    line-height: 40px;
    text-align: center;
    scale: 110%;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

#carList {
    order: 1;
}

#watch {
    order: 2;
}

#calendar {
    order: 3;
}

#github {
    order: 4;
}

/* Team selector Styling */

#teamSelect {
    display: flex;
    width:fit-content;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 8px;
    height: fit-content;
    line-height: 40px;
    justify-content: space-between;
    gap:10px;
}

#teamSelect a {
    font-family: "Formula1 Display Bold";
    background-color: #e10600;
    padding: 5px 10px;
    border-radius: 15px;
    height: 30px;
    width: auto;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#teamTitle {
    text-align: center;
    font-family: "Formula1 Display Wide";
    margin-top: 30px;
    margin-bottom: 30px;
    color:#ffffff;
}

#teamContainer {
    padding: 15px;
    background-color: #000000;
    width: 100%;
    height: fit-content;
    margin-top: 0;
}

.teamTitles {
    font-family: "Formula1 Display Wide";
    margin-left: 30px;
}

#rbContainer {
    display: flex;
    width: 100%;
    height: 300px;
}

#rbContainer img {
    width: 600px;
    height: 200px;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.showImage:hover {
    scale: 1.2;
    z-index: 1;
    border-radius: 20px;
}

#rbContainer:hover > :not(:hover) {
    filter: brightness(70%);
}

/* Scroll bar Styling */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #38383f;
}
  
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 20px;
}